/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #555;
}

header {
    width: 100%;
    background-color: #9fcfa1;
    color: white;
    padding: 10px 20px;
    text-align: center;
     position: relative; 
    display: flex;
    flex-direction: column;
    align-items: left;
    left: 0;
}

header .logo {
    width: 200px;
    
    height: auto;
    padding: 5px;

}

div a {
    text-align: center;
    
    text-decoration: #1065b9;
}

nav {
     width: 100%;
    background-color: #bdd6f0;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    display: block;
    color: #1065b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #FFA726;
}

footer {
    background-color: #8abb8b;
    color: white;
    text-size-adjust: 10pt;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
}

/* Estilos para o menu em dispositivos móveis */
#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #bdd6f0;
        position: absolute;
        top: 50px;
        left: 0;
    }

    nav ul.active {
        display: flex;
    }

    #menu-toggle {
        display: block;
        background-color: #5DADFF;
        color: white;
        border: none;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        width: 130%;
        text-align: left;
    }

    nav ul li {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    header .logo {
        width: 150px;
    }

    footer {
        padding: 5px;
    }

    main {
        margin: 10px;
    }
}

/* Estilo para o banner */
.banner {
    text-align: center; /* Centraliza o banner na página */
    /*margin: 20px auto; */
    max-width: 100%;
}

.banner img {
    width: 40%;
    max-width: 800px; /* Tamanho máximo do banner em desktops */
    height: auto;
}

/*.banner-text {
    display: block;
    color: #1065b9;
    font-size: 24px;
    margin-top: 10px;
}

*/
/* Responsividade para dispositivos móveis */
/*@media (max-width: 500px) {
    .banner img {
        content: url('<?= BASE_URL; ?>imgs/ROSA-2024375x250V3.png'); 
        max-width: 100%;
    }

    /*.banner-text {
        font-size: 18px; 
    }
    
}
*/
/* Estilos para o conteúdo principal */
main {
    padding: 20px;
    margin: 20px;
}

/* Estilos para formulários */
form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #5DADFF;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 10pt;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #5DADFF;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5DADFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #4CAF50;
}

form a {
    font-size: small;
    text-decoration: none;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    border: 1px solid #dddddd;
    /* Borda fina ao redor da tabela */
}

.styled-table thead tr {
    background-color: #5DADFF;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    /* Borda fina entre as células */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #5DADFF;
}

.btn-edit,
.btn-delete {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn-edit {
    background-color: #FFA726;
}

.btn-delete {
    background-color: #EF5350;
}

/* Estilos da tabela */
.table-container {
    margin: 20px 0;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.responsive-table th,
.responsive-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.responsive-table thead {
    background-color: #f4f4f4;
}

.responsive-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.responsive-table tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .responsive-table thead {
        display: none;
    }

    .responsive-table,
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table td {
        display: block;
        width: 100%;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }

    .responsive-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .responsive-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Estilo do botão menu para mobile */
#menu-toggle {
    display: none;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Esconder o menu no mobile até ser ativado */
/* #menu {
    display: flex;
    list-style-type: none;
    padding: 0;
} */

#menu li {
    position: relative;
    
}

#menu li a {
    text-decoration: none;
    color: #1065b9;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cee6ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px #1065b9(0, 0, 0, 0.1);
    z-index: 1;

   
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li a {
    padding: 10px;
    display: block;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo responsivo para mobile */
@media (max-width: 768px) {
    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #menu.active {
        display: flex;
    }

    #menu li {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    #menu-toggle {
        display: block;
        margin-bottom: 10px;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: #fff;
    }
}

.notificacoes {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.notificacoes h4 {
    margin: 0 0 10px 0;
}

.notificacoes p {
    margin: 0;
    font-size: 14px;
}